html, body {
    height: 100%;
    overflow: hidden;
}

body {
    padding-top: 60px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.navbar .nav {
    float: right;
}

.input input {
    width: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 28px;
    margin-top: 20px;
}

.buffer-list, .buffer, .user-list {
    overflow: scroll;
}